/* calculator styles */

body {
  /* set body margin to 0 pixels */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}

#calculator {
  max-width: 500px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  /* set the background to dark black color, but not fully black */
  /* background-color: hsl(0, 0%, 15%); */
  /* set the border radius to 15 pixels */
}

#display {
  width: 100%;
  padding: 20px;
  height: 80px;
  font-size: 80px;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

#buttons {
  /* use CSS grid to place all buttons into 4 columns */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* use 10 pixel gap between the items */
  /* and put some padding around the buttons */
  gap: 10px;
  padding: 25px;
}

button {
  /* make each button a circle with 100px diameter */
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
