/* calculator styles */

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}

#calculator {
  max-width: 500px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
}

#display {
  width: 100%;
  padding: 20px;
  height: 80px;
  font-size: 80px;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

#buttons {
  /* use CSS grid to place all buttons into 4 columns */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* use 10 pixel gap between the items */
  /* and put some padding around the buttons */
  gap: 10px;
  padding: 25px;
}

button {
  /* make each button a circle with 100px diameter */
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  /* the button background becomes slightly lighter on hover */
  background-color: hsl(0, 0%, 40%);
}

.operator-btn {
  background: rgba(0, 0, 0, 0) url('./pumpkin.png');
  background-repeat: no-repeat, no-repeat;
}

.operator-btn:hover {
  /* scale the button slightly */
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0);
}
